.myForm{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(144, 154, 60);
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
    min-width: fit-content;
    width: 50%;
}

.myForm h1{
    color: blue;
}

.myForm h1:hover{
    color: green;
}

form label,input, textarea{
    margin: 5px;
}

form label{
    flex: 1;
    margin-right: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    animation: fadeIn 5s;
    color: rebeccapurple;
}

form input, form textarea{
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    border: 2px solid blue;
    flex: 2;
}

input[type="submit"]{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: blue;
    width: 80%;
    cursor: pointer;
    animation: fadeIn 2s;
}

input[type="submit"]:hover{
    background-color: red;
    color: yellow;
}

.form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-row2{
    display: flex;
    justify-content: center; 
}

label:hover{
    color: salmon;
}

/* @media screen and (max-width:600px) {
    .myForm form:not(:first-child){
        display: none;
    }
    .myForm form.change{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px){
    .myForm.responsive {position: relative;}
    .myForm.responsive form.change{
        position: absolute;
        right: 0;
        top: 0;
    }
    .myForm.responsive form{
        float: none;
        display: block;
        text-align: left;
    }
} */

@media (max-width: 1200px){
    .myForm{
        width: 70%;
    }
}

@media (max-width: 992px){
    .myForm{
        width: 80%;
    }
}

@media (max-width: 768px){
    .myForm{
        width: 90%;
    }

    .form-row{
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row label{
        text-align: left;
        margin-bottom: 5px;
    }

    .form-row input, .form-row textarea{
        width: 90%;
    }
}

@media (max-width: 576px){
    .myForm{
        width: 100%;
    }

    .form-row label, .form-row input, .form-row textarea{
        font-size: 14px;
    }

    h1{
        font-size: 24px;
        text-shadow: 10px 10px  10px rgb(104, 209, 169);
    }

    input[type="submit"]{
        font-size: 16px;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}