.logo{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.main-header{
    background-color: rgb(22, 69, 162);
    padding: 5px;
    display: flex;
}

.main-header img{
    float: left;
}
nav{
    display: flexbox;
    justify-content:end;
    width: 100%;
    align-items: center;
    float: right;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
}

a:hover{
    background-color:rgb(83, 170, 211) ;
}

.hamburger-menu{
    cursor: pointer;
    margin-right: 5px;
    color: white;
    background-color: rgb(9, 0, 0);
    padding: 5px;
    height: fit-content;
}

.line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 2px;
}

@media screen and (max-width: 768px){
    .main-header{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    nav{
        text-align: center;
        display: none;
    }
    nav a{
        display: block;
        margin: 10px 0;
    }
    .hamburger-menu{
        float: right;
        width: fit-content;
        padding: 5px;
    }
    .line{
        width: 20px;
    }
    .main-header img{
        width: 40px;
        height: 40px;
        display: none;
    }
    
}

@media screen and (min-width: 768px){
    .hamburger-menu{
        display: none;
    }
} 

.hamburger-menu:hover{
    background-color: rgb(100, 50, 50);
}

.active{
    color: yellow;
    background-color: rosybrown;
}
