.container{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: blue;
    cursor: pointer;
    margin: 1px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img{
    transform: scale(1.1);
}
.card-btm{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

/* .card-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
} */

.card-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: bottom 0.4s ease-in opacity 0.4s ease-in-out;
    text-align: center;
    padding: 20px;
}

#trial1{
    color:white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgb(31, 22, 131);
    overflow: hidden;
}

#trial2{
    color:white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgb(115, 104, 240);
    overflow: hidden;
}

#trial3{
    color:white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgba(40, 22, 241, 0.874);
    overflow: hidden;
}
.card:hover .card-content{
    opacity: 1;
}

.card-title{
    color: white;
    text-align: center;
}

#line{
    color: white;
    width: 100%;
    text-align: center;
}

#btitle{
    color: white;
    text-align: center;
}

#para{
    color: white;
    text-align: center;
}

.sbtn{
    text-align: center;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .card-content{
        width: 100%;
    }
    
}